
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;	

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#banner {
	margin-bottom: 100px;
	display: none;
}

#banner div {
	background-color: #000000;
	width: 100%;
	height: 39px;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #FFFF;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0px ;
}

nav {
	margin-top : 10px;
}

section {
	margin: 50px 0;
	padding :0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.05em;
	font-weight: normal;
	margin-top:0.7em;
}

nav > ul > li > img  {
	width: 1.2em;
	height :1.2em;
	padding-left: 10px;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	font-size: 13px;
	display: flex;
	align-items: center;
	list-style-type: none;
	margin-left: 0;
}

nav li {
	padding: 0 0 0 48px;
	font-size: 1.2em;
	
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	margin-top :142px;
	margin-left: 94px;
}

#introduction figure { flex: 1}

#introduction img {
	display: block;
	width: 474px;
	height: 355px;
	padding-right: 0;
}

#introduction article {
	flex: 1;
	margin : 20px;
	color: #3D3D3D;
	font-family: 'Work Sans' ;
	width:10px;
	padding-left: 55px;
	padding-right: 70px;
	padding-top: 45px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

article p { padding-bottom: 9px;}

#introduction h2 { 	margin-bottom: 1em;}

#introduction p {	margin-bottom: 0.5em;}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
	margin-top :3.1em;
}

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

figcaption {
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	padding-top: 5px;
}

.gallery {
	width : 950px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 16px;
}

.Img_gallery {
	height: 407px;
	width: 305px;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0px;
}

#contact h2 {
	margin-top: 10px;
	margin-bottom: 13px;
}

#contact >p {
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
}

#contact #name, #email,#message {
	width: 379px;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	height: 49px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 0.8em;
	background-color:white;
}

#message {
	resize : none;
	height: 170px;
	margin-top: 3px;
}

#contact > * {text-align: center;}

#contact form {
	text-align: left;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 0;
	border :none;
}

#contact label {margin: 2em 0 0.55em 0;}

footer{margin-top: 45px;}

footer nav {
	width : 107%;
	margin: 0px;
	padding: 0;	
}

footer nav ul li{
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 300;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2.5em;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/*Mise en forme de la barre de filtre*/
.filter_bar {
	display: flex;
	flex-direction: row;
	justify-content : center;
	width: 100%;
	margin :8px 0px 50px 5px;
}

.filterButton, .filterAll {
	font-size: 16px;
	text-align: center;
	border-radius: 30px;
	background-color: white;
	border : 1px solid #1D6154;
	color :#1D6154;
	padding : 9px 20px;
	margin : 0px 6px ;
	font-family: 'Syne';
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
}

.filterAll  {
	padding : 9px 30px 9px 30px;
}

.filterButton:hover, .filterAll:hover{
	background-color : #1D6154;
	color :white;
}


/*style de la page login*/
#email_login {margin-bottom: 2px;}

.login {
	display :flex;
	flex-direction : column;
	align-items : center;
	margin-top:155px;
}

.login > span {
	margin-top :5px;
	color: #3D3D3D;
}

.form_login {
	display :flex;
	flex-direction : column;
	margin :1em 1em 0 1em;
}

#email_login, #passwd {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#passwd {margin-bottom: 10px;}

.form_login label {
	margin: 2em 0 0.5em 0;
	color: #3D3D3D;
}

.login a {
	text-decoration: underline;
}

.login + footer {
	margin-top:22em;
}

#header_login {
	font-weight: bold;
}

.error_msg {
	color :red;
	font-family: 'Syne';
	font-weight: 700;
	margin-top: 20px;
}

/*Mise en forme page d'édition*/
#logout_button {
	color:black;
	font-weight: bold;
	border: 0;
	padding:0;
	margin :0;
}

#title_portfolio > a {
	font-size: 14px;
	color:black;
	padding : 0 0.5em;
}

#title_portfolio > i {
	font-size: 15px;
	color:black;
	margin-left : 32px;
}


/*Mise en forme des modales*/
#modal1 {
	position : fixed;
	display :none;
	align-items: center;
	justify-content: center;
	top :0;
	left :0;
	height: 100%;
	width :100%;
	background :rgba(0,0,0, 0.8);
}

.modal-wrapper {
	display :flex;
	flex-direction: column;
	width : 575px;
	height : 633px;
	padding :27px;
	background-color: white;
	overflow: auto;
	border-radius: 2%;
}

.menu_icon {
	display: flex;
	justify-content: flex-end;
	margin-right:0px;
	padding: 0;
}

.js-modal-close, .js-modal-return {
	background-color: white;
	width: 24px;
	border:0;
	margin: 0px;
}

.js-modal-close i {font-size: 19px;
margin-bottom: 13px;}

.js-modal-return {
	padding-right: 550px;
	display:none;
}

.js-modal-return i {font-size: 23px;}

.modal_title {
	display :flex;
	align-items: center;
	font-size: 26px;
	margin-top :0px;
	padding-bottom: 0px;
	font-family:'Work Sans';
	font-weight: normal;
	color: black;
}

.Mgallery {
	display :flex;
	flex-flow: row wrap;
	margin:50px 80px 0px 70px;
	display: grid;
	grid-template-columns: repeat(5, 85px);
}

.Mgallery div {position: relative;}

div .ImageModale {
	position: relative;
	z-index: 1;
	height : 102px;
	width : 77px;
	padding-left: 8px;
	padding-bottom: 27px;
}

.fa-trash-can {
	color : white;
	background-color: black;
	padding :2px 0 0 4px;
	border-radius: 15%;
	height :17px;
	width: 17px;
	position: absolute;
	left :57px;
	top :5px;
	z-index: 2;
}

.bar_modal1 {margin:38px 80px 38px 80px;}

.btn_modal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 0px auto ;
	text-align: center;
	border-radius: 60px ;
	background-color: #1D6154;
	width: 237px;
	padding: 11px 49px 9px 49px;
	border: none;
}

/*Mise en forme de la modale 2*/
.form_addWork {
	Margin :16px 0px 0 75px;
	/*display: flex;
	*/
	flex-direction: column;
	width :420px;
	display:none;
}

#selection_img {
	width: 129px;
	height:170px;
	display:none;
}

#insert_img {
	height: 169px;
	width :420px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: #e8f1f6;
	margin-top: 23px;
	margin-bottom: 30px;
	padding :0;
}

#hide_insert_img {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.fa-image {
	font-size:69px;
	color: #B9C5CC;
}

option, #add_picture, #Select_cat  {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color : #3D3D3D;
}

#label_img {
	padding: 10px 30px 13px 30px;
	background-color: #CBD6DC;
	border-radius: 25px;
	color: #376b89;
	margin-top: 10px;
	cursor: pointer;
	font-weight: bold;
}

#btn_select {
	padding: 10px 30px 13px 30px;
	background-color: #c1c3ca;
	border-radius: 25px;
	color: #376b89;
	margin-top: 5px;
	cursor: pointer;
	font-weight: bold;
	display:none;
}

#hide_insert_img p {
	font-size: 10px;
	color: #444444;
	margin-top: 5px;
	margin-bottom: 5px;
}

#add_category, #add_title {
	width: 420px;
	height: 51px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-width: 0px;
	margin-top: 10px;
	margin-bottom: 22px;
	background-color: white;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
}

hr {
	border: none;
	border-top: 1px solid #B3B3B3;
}

.bar_modal2 {
	margin:25px 0 0 0;
	width: 100%;
}

#submit_add {
	background-color: #6f717099;
	padding: 10px 25px 10px 25px;
	width: 230px;
	border-width: 0px;
	margin: 32px 90px 0px 95px;
	cursor: pointer;
	justify-content: center;
}

